<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My contact Page</title>
</head>
<body>
   <h1>contact me,yo</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Natus consectetur alias voluptatum labore eum vitae dolorum,
      eos architecto. Aperiam itaque debitis quam amet nostrum 
      necessitatibus eveniet libero quos, est neque.
   </p> 
</body>
</html>